:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --tonic-white: rgba(255, 255, 255, 1);
  --tonic-black: rgba(0, 0, 0, 1);
}

body[theme='light'] {
  background-color: var(--tonic-white);
  color: var(--tonic-black);

  --tonic-accent: #2A73E1;
  --tonic-grey: #7C7C7C;
  --tonic-grey-secondary: #494949;
}

body[theme='dark'] {
  background-color: var(--tonic-black);
  color: var(--tonic-white);

  --tonic-accent: #4584E3;
  --tonic-grey: #9D9D9D;
  --tonic-grey-secondary: #D7D7D7;
}

/*
@media (prefers-color-scheme: light) {
  :root {
    background-color: var(--tonic-white);
    color: var(--tonic-black);

    --tonic-accent: #2A73E1;
    --tonic-grey: #7C7C7C;
    --tonic-grey-secondary: #494949;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: var(--tonic-black);
    color: var(--tonic-white);

    --tonic-accent: #4584E3;
    --tonic-grey: #9D9D9D;
    --tonic-grey-secondary: #D7D7D7;
  }
}
*/

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

#app {
  padding: 20px 40px;
}

